.banner {
  display: flex;
  background-color: var(--light-orange);
  max-width: 1400px;
  height: 450px;
  margin: 10px 10px;
  margin-top: 36px;
  border-radius: 30px;
  justify-content: space-between;
  align-items: center;
}

.banner .info {
  margin: 0 0 25px 25px;
  text-align: left;
  line-height: 28px;
}

.banner .info h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}

.banner .info p {
  width: 316px;
  height: 84px;
  font-size: 24px;
  opacity: 0.9;
}

.banner img {
  height: 450px;
  width: auto;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .banner {
    flex-direction: column;
    height: auto;
    padding: 2rem;
    text-align: center;
    margin-top: 1rem;
  }
  .banner .info {
    margin: 0;
    margin-bottom: 1rem;
  }
  .banner .info h1 {
    font-size: 2rem;
  }
  .banner .info p {
    width: 100%;
    height: auto;
    font-size: 1.1rem;
  }
  .banner img {
    height: 250px;
    width: auto;
    margin-top: 1rem;
  }
}