.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
}

.nav-center {
  width: 90vw;
  max-width: 1100px;
}

.nav-header {
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 1rem;
}

.nav-header img {
  width: 100%;
  height: auto;
  max-width: 350px;
}

.nav-logo {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.nav-btn {
  padding: 0.15rem 0.75rem;
  margin-right: 1.5rem;
  margin-bottom: 0.5rem;
}

.nav-btn i {
  font-size: 1.5rem;
  color: var(--white);
}

.nav-links {
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: var(--transition);
}

.show-links {
  height: 23.9375rem;
}

.nav-link {
  display: block;
  text-align: center;
  font-size: 1.25rem;
  text-transform: capitalize;
  color: var(--dark-gray);
  letter-spacing: var(--letterSpacing);
  padding: 1rem 0;
  border-top: 1px solid var(--ligh-gray);
  transition: var(--transition);
}

.nav-link:hover {
  color: var(--dark-orange);
}

@media screen and (max-width: 768px) {
  .nav-header {
    height: 6rem;
    align-items: center;
  }
  .nav-header img {
    max-width: 180px;
  }
  .nav-btn {
    margin-right: 0.5rem;
    margin-bottom: 0;
  }
}