.recipes-container {
  display: grid;
  gap: 2rem 1rem;
}

.recipes-list {
  display: grid;
  gap: 2rem 1rem;
  padding-bottom: 3rem;
}

.tags-container {
  order: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--light-gray);
  margin-bottom: 2rem;
}

.tags-container h4 {
  margin-bottom: 1rem;
  font-weight: 500;
  text-align: center;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.tags-list a {
  text-transform: capitalize;
  display: block;
  color: var(--dark-gray);
  transition: var(--transition);
  background: var(--white);
  padding: 0.5rem 1rem;
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-1);
  border: 1px solid var(--light-gray);
}

.tags-list a:hover {
  color: var(--white);
  background: var(--dark-orange);
  border-color: var(--dark-orange);
}

.recipe {
  display: block;
}

.recipe-img {
  height: 15rem;
  border-radius: var(--borderRadius);
  margin-bottom: 1rem;
}

@media screen and (max-width: 400px) {
  .recipes-list {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 400px) {
  .recipes-list {
    grid-template-columns: 1fr 1fr;
  }
  .recipes-container {
    grid-template-columns: 1fr;
  }
  .tags-list {
    justify-content: center;
  }
}

@media screen and (min-width: 800px) {
  .recipes-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}