{% extends "base.html" %}

{% block content %}
<section class="contact-container">
  <article class="contact-info">
    <h3>Quer entrar em contato?</h3>
    <p>
      Mande sua sugestão de receita ou dúvida sobre o código Python/Flask.
    </p>
    <p>jundiai@pythonreceitas.com</p>
    <p>(11) 99999-9999</p>
  </article>
  <article>
    <form class="form contact-form">
      <div class="form-row">
        <label for="name" class="form-label">seu nome</label>
        <input type="text" name="name" id="name" class="form-input" />
      </div>
      <div class="form-row">
        <label for="email" class="form-label">seu email</label>
        <input type="email" name="email" id="email" class="form-input" />
      </div>
      <div class="form-row">
        <label for="message" class="form-label">mensagem</label>
        <textarea name="message" id="message" class="form-textarea"></textarea>
      </div>
      <button type="submit" class="btn btn-block">enviar</button>
    </form>
  </article>
</section>
{% endblock %}