{% extends "base.html" %}

{% block content %}
  <header class="banner">
    <div class="info">
      <h1>As melhores receitas</h1>
      <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
    </div>
    <img src="{{ url_for('static', filename='assets/chef.png') }}" alt="Chef">
  </header>

  <div class="mais_acessadas">
    <h1>Destaques da Semana</h1>
  </div>

  <section class="recipes-container">
    <div class="recipes-list">
      {% for receita in receitas %}
      <a href="{{ url_for('receita', id=receita.id) }}" class="recipe">
        <img src="{{ url_for('static', filename='assets/' + receita.imagem) }}" class="img recipe-img" alt="{{ receita.titulo }}" />
        <h5>{{ receita.titulo }}</h5>
        <p>Preparo : {{ receita.tempo_preparo }} | Cozimento : {{ receita.tempo_cozimento }}</p>
      </a>
      {% endfor %}
    </div>
  </section>
{% endblock %}